.chapter(data-title='Using the Web Widget')
  .step(data-title='Welcome!', data-file='tutorial/config.json')
    h2 Welcome to the RingCentral Web Widget

    p The RingCentral Web Widget provides a fast way to add communications to your web app with a pre-built webphone that can handle voice, SMS.

    p This tutorial's navigation controls are located above this text. Use <i class="fa fa-fw fa-play"></i> to move to the next step of the tutorial. Use <i class="fa fa-fw fa-play fa-rotate-180"></i> to move to the previous step of the tutorial (if there is one). Use <i class="fa fa-fw fa-list"></i> to see an overview of all the steps in the tutorial.

  .step(data-title='Static HTML', data-file='static_embed.html')
    :markdown
      ## Static HTML

      To implement the Web Widget on any web page, simply add a few lines of JavaScript to instantiate the widget. This will automatically link and enable the `tel` and `sms` URI schemes if they are not already registered.

  .step(data-title='Salesforce Open CTI')
    :markdown
      ## Salesforce Open CTI

      We will add the RingCentral Web Widget to Salesforce via the Open CTI framework.

      ![](salesforce_CTI-Architecture-Overview.png)

  .step(data-title='Creating a Call Center', data-file='salesforce_CallCenterDefinition.xml')
    :markdown
      ## Creating a Salesforce Call Center

      * Create a Call Center with `salesforce_CallCenterDefinition.xml`
      * This uses the `/apex/RCPhone` CTI Adapter URL

  .step(data-title='Create the Visualforce Page', data-file='salesforce_RCPhone_part-1_webphone.vfp')
    :markdown
      ## Create the Visualforce Page

      The Web Widget is rendered in a Visualforce page. To create this use the following steps:

      * Open the Developer Console by clicking the link from the Settings menu item.

      ![](salesforce_dev-console_link.png)

      * Click *File > New > Visualforce Page*

      ![](salesforce_dev-console_new-vf-page.png)

      * Name the page `RCPhone`
      * Paste in the `<apex:page >` code to the right
      * Click `Edit` > `Fix Indentation`

  .step(data-title='Add to the Salesforce app')
    :markdown
      ## Add the Web Widget Visualforce Page to an App

      Select your desired Salesforce app and add the widget using the following steps:

      * Go to Salesforce Setup by clicking the Setup icon in the menu bar.

      ![](salesforce_configure-app_part-1_setup-menu.png)

      * Navigate to the App Manager using the Quick Find or the `Apps` > `App Manager` menu item.

      ![](salesforce_configure-app_part-2_setup-app-manager.png)

      * Select an existing app such as `LightningSales` or create a new app.

      ![](salesforce_configure-app_part-3_select-app.png)

      * Under the `Utility Bar`, add `Open CTI Softphone`

      ![](salesforce_configure-app_part-4_add-opencti-softphone.png)

      * Click `Save` and then `Done`